.app{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  background-image: url('./images/bgImg6.JPG');
  background-size: cover;
}

body{
  font: 16px/1.6 Roboto,Helvetica,sans-serif;
}

.nav{
  flex : 0.25;
}

.content{
  flex:0.75;
  /* background-image: url('./images/drawerImg.JPG');
  background-size: cover; */
  /* background-color: rgba(70, 69, 66, 0.9); */
}